.CButton{
    margin: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.buttons{
    padding-top: 10px;
    padding-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button{
    margin-left: 10px;
    margin-right: 10px;
}


.wrap {
    background: whitesmoke;
}