.CButton{
    margin: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.buttons{
    margin-top: 10px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}