.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background: whitesmoke;
    padding-left: 20px;
}

.cards a {
    color: black;
    text-decoration: none;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    padding-bottom: 20px;
    padding-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: whitesmoke;
}

.buttons button {
    margin-left: 10px;
    margin-right: 10px;
}

.searchform {
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.searchform input {
    background: whitesmoke;
    width: 400px;
    height: 25px;
}

.searchform select {
    background: whitesmoke;
    margin-left: 35px;
    width: 150px;
    height: 25px;
}

.searchform button {
    margin-left: 10px;
    width: 70px;
    height: 25px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.searchform button:hover {
    opacity: 0.5;
}


@media screen and (max-width: 1115px) {
    .searchform input {
        width: 300px;
    }
}

@media screen and (max-width: 740px) {
    .searchform input {
        width: 200px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
