.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.buttons{
    padding-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: whitesmoke;
}

.search-form{
    background: whitesmoke;
}


.wrap-movies form{
    background: whitesmoke;
}