.wrapcard {
    background: whitesmoke;
    height: 700px;
    overflow: hidden;
}

.movie {
    display: flex;
}

.image {
    margin: 20px;
}

.movie h3 {
    padding-top: 30px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button {
    margin: 10px;
}

.badge{
    display: flex;
    margin-bottom: 15px;
}

.overview{
    font-weight: bolder;
    text-align: justify;
    margin-right: 20px;
}

.release{
    font-weight: normal;
}

@media screen and (max-width: 740px) {
    .movie {
        flex-direction: column;
        margin-left: 10px;
    }

    .wrapcard {
        background: whitesmoke;
        height: 1000px;
        overflow: hidden;
    }
}