.wrapcard {
    background: whitesmoke;
}

.movie {
    display: flex;
}

.image {
    margin: 20px;
}

.movie h3 {
    padding-top: 30px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button {
    margin: 10px;
}