.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background: azure;
}

.account{
    font-size: 25px;
    font-style: italic;
    color: cornflowerblue;
    margin-right: 10px;
}
