.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background: whitesmoke;
}

.account{
    font-size: 25px;
    font-style: italic;
    color: black;
    margin-right: 10px;
}

.buttons button{
    color: black;
    font-weight: inherit;
}

.switchTheme{
    padding-top: 15px;
}