.card{
    height: 450px;
    width: 20%;
    background: whitesmoke;
    padding-left: 27px;

}

.card:hover {
    opacity: 0.6;
}



.card img{
    height: 300px;
    width: 200px;
    margin: 10px;
}

.title {
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 90%;
    height: 30px;
}

.rating{
    font-size: 15px;
    margin-left: 10px;
}

.stars{
    margin-left: 10px;
}