body {
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

#movies_dark{
  background-color: black;
}


#header_dark{
  background-color: rgb(15, 8, 12);
}

#body_dark {
  background-color: rgb(15, 8, 12);
}

