body {
    background-color: whitesmoke;
    height: 100%;
}

* {
    box-sizing: border-box;
}

#movies_dark {
    background-color: #505458;
}

#header_dark {
    background-color: #505458;
}

#header_dark button{
    color: whitesmoke;
}

#header_dark a{
    color: whitesmoke;
}

#body_dark {
    background-color: #505458;
}

#searchForm_dark {
    background-color: #505458;
}

#searchForm_dark select{
    background-color: rgb(203, 203, 203);
}

#searchForm_dark input{
    background-color: rgb(203, 203, 203);
}

#searchForm_dark button{
    background-color: rgb(203, 203, 203);
}

#card_dark {
    background-color: #505458;
    border: none;
}

#card_dark a {
    color: whitesmoke;
    text-decoration: none;
}

#cardDetail_dark {
    background-color: #505458;
    color: whitesmoke;
}

#card_dark>h4{
    color: whitesmoke;
}

#cards_dark{
    background-color: #505458;
}

#genries_dark{
    background-color: #505458;
}

#genriesCard_dark{
    background-color: #505458;
}

#buttons_dark{
    background-color: #505458;
}

#allCardsGenrie_dark{
    background-color: #505458;
}

#switchTheme_dark div{
    color: whitesmoke;
}

#switchTheme_dark button{
    background-color: #505458;
}