body {
  background-color: black;
}

* {
  box-sizing: border-box;
}

#movies_dark{
  background-color: #312d2d;
  box-shadow: 1px 4px 12px 2px black;
}


#header_dark{
  background-color: rgb(15, 8, 12);
}

#body_dark {
  background-color: rgb(15, 8, 12);
}

